@function set-notification-text-color($color) {
    @if (lightness($color) > 50) {
      @return #ffffff; // Lighter backgorund, return dark color
    } @else {
      @return #000000; // Darker background, return light color
    }
  }

  $bodyColor: rgb(215, 213, 223);

  body {
    background-color: $bodyColor;

    
  }
  h1{
        color: set-notification-text-color($bodyColor);
    }